backports.tarfile==1.2.0
chromadb==1.0.13
feedparser==6.0.11
httptools==0.6.4
jaraco.collections==5.1.0
langchain-community==0.3.26
langchain-openai==0.3.24
markdown==3.8.2
pip-chill==1.0.3
tomli==2.0.1
uvloop==0.21.0
watchfiles==1.1.0
yfinance==0.2.63
